In [1]:
import numpy as np

# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [2]:
#Get the shape of the matrix.
data.shape

(5, 3)

In [3]:
#Find the average age of students.
np.mean(data[:,0])

np.float64(18.4)

In [4]:
#Extract Math marks of all students
data[:,1:2]

array([[85],
       [92],
       [76],
       [65],
       [90]])

In [5]:
#Find the highest Science mark.
np.max(data[:,2])

np.int64(95)

In [6]:
#Get details of the student who scored more than 90 in Math.
data[data[:,1]>90]

array([[19, 92, 88]])

In [7]:
#Increase Math marks of all students by 5.
data[:,1]+5

array([90, 97, 81, 70, 95])

In [8]:
#Find how many students are younger than 19.
len(data[data[:,0]<19])

3

In [9]:
#Calculate the average marks in each subject (column-wise mean).
np.mean(data[:,1:],axis=0)

array([81.6, 83.2])

In [12]:
#Get data of students who scored at least 80 in both subjects.
data[(data[:,1]>=80) & (data[:,2]>=80)]

array([[19, 92, 88],
       [20, 90, 85]])

In [15]:
#Replace all Science marks < 75 with 0.
data[:,2][data[:,2]<75]=0
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65,  0],
       [20, 90, 85]])