In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [3]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [10]:
#group by category and calculate the sum of sales
for i,j in df.groupby(["Category"]):
    print(i)
    print(j)

('A',)
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
('B',)
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
7        B    S1    300        25 2023-01-08

In [13]:
for i in df.groupby(["Category"])["Sales"]:
    print(i)

(('A',), 0    100
2    150
4    120
6    200
Name: Sales, dtype: int64)
(('B',), 1    200
3    250
5    180
7    300
Name: Sales, dtype: int64)

In [17]:
#group by store to calculate the sum of sales
df.groupby(["Store"])["Sales"].sum()

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [18]:
df.groupby(["Store"])["Sales"].sum()

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [19]:
#group by category and store
df.groupby(["Category","Store"])["Sales"].sum()

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

Aggregation

In [ ]:
#mean , median , max , min , sum , count , std