In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = {
    'Date': pd.date_range('2023-01-01', periods=20),
    'Product': ['A', 'B', 'C', 'D'] * 5,
    'Region': ['East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West',
               'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South'],
    'Sales': np.random.randint(100, 1000, 20),
    'Units': np.random.randint(10, 100, 20),
    'Rep': ['John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary',
            'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice']
}
df = pd.DataFrame(data)
df

         Date Product Region  Sales  Units    Rep
0  2023-01-01       A   East    985     23   John
1  2023-01-02       B   West    115     48   Mary
2  2023-01-03       C  North    643     45    Bob
3  2023-01-04       D  South    875     83  Alice
4  2023-01-05       A   East    684     25   John
5  2023-01-06       B   West    232     87   Mary
6  2023-01-07       C  North    534     45    Bob
7  2023-01-08       D  South    702     77  Alice
8  2023-01-09       A   East    439     28   John
9  2023-01-10       B   West    234     27   Mary
10 2023-01-11       C  North    740     54    Bob
11 2023-01-12       D  South    889     33  Alice
12 2023-01-13       A   East    670     24   John
13 2023-01-14       B   West    869     40   Mary
14 2023-01-15       C  North    969     81    Bob
15 2023-01-16       D  South    272     15  Alice
16 2023-01-17       A   East    347     24   John
17 2023-01-18       B   West    351     97   Mary
18 2023-01-19       C  North    498     66    Bob
19 2023-01-20       D  South    910     72  Alice

pivot table

In [4]:
pd.pivot_table(df,values="Sales",index="Region",columns="Product")

Product      A      B      C      D
Region
East     625.0    NaN    NaN    NaN
North      NaN    NaN  676.8    NaN
South      NaN    NaN    NaN  729.6
West       NaN  360.2    NaN    NaN

In [5]:
pd.pivot_table(df,values="Sales",index="Region",columns="Product",aggfunc="sum")

Product       A       B       C       D
Region
East     3125.0     NaN     NaN     NaN
North       NaN     NaN  3384.0     NaN
South       NaN     NaN     NaN  3648.0
West        NaN  1801.0     NaN     NaN

cross tab

In [6]:
pd.crosstab(index="Region",columns="Product",values="S")

ValueError: If using all scalar values, you must pass an index